@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes customBounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.animate-custom-bounce {
  animation: customBounce 4s ease-in-out infinite;
}

.slideshowContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80%;
  margin: auto;
}

.slideshow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.eachSlide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; /* Adjust as needed */
}

.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.mainImage {
  width: 60%; /* Middle image size */
  transition: transform 0.5s ease;
}

.sideImage {
  width: 20%; /* Side images size */
  transition: transform 0.5s ease;
  opacity: 0.7;
}
